/* ----------------------EER Color-------------------- */
#room-type-5
{
    background-color: #00FF00;
}
#room-type-4
{
    background-color: #ADFF2F;
}
#room-type-3
{
    background-color: #FFFF00;
}
#room-type-2
{
    background-color: #FFA500;
}
#room-type-1
{
    background-color: #FF0000;
}
/* ---------------------------------------------------- */
