body{
    background:url("http://orig12.deviantart.net/a72c/f/2014/120/8/c/abstract_geometric_low_poly___wallpaper_by_mcfrolic-d7gjq9d.jpg");  
      background-position: 0px 0px;
      background-repeat:no-repeat;
       overflow: hidden;
    }
    
    .centerImg{
      height:100%;
     background:url("https://m2.behance.net/rendition/pm/17815857/disp/bc25da2a3eb9b7efcf74e3153d40ef04.png") no-repeat fixed center center;
     opacity:1;
      animation: lowPoly 6.3s ease-in infinite;
      
    }
    
    @keyframes lowPoly {
      25% {opacity:0.25;}
      50% {opacity:0.50;}
      75% {opacity:0.75;}
      100% {opacity:1;}
    }
    
    
    .container{
        height:800px;
    }
    
    #typewriter{
      font-size:50px;
      color:white;
      font-family: 'Raleway', sans-serif;
      letter-spacing:1.5px;
    
      position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-490%);
      
    }
    #typewriter1{
      font-size:50px;
      color:white;
      font-family: 'Raleway', sans-serif;
      letter-spacing:1.5px;
    
      position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-490%);
      
    }
    
    button{
      position:absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-1290%);
    }